.login__modal {
  display: flex;
  flex-direction: column;
}

.login__modal__title {
  text-align: center;
  font-size: var(--font-regular);
  font-weight: bold;
  padding: 12px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 16px;
}

.login__modal .login__facebook {
  height: 50px;
  background-color: #4568b2;
  border-radius: 4px;
  margin-bottom: 6px;
}

.login__modal .login__facebook > a > div:nth-of-type(2) {
  font-weight: 800;
  color: white;
  font-size: var(--font-regular);
}

.login__modal .login__facebook > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login__modal .login__facebook > a > div:nth-of-type(1) {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.login__modal .login__facebook > a > div:nth-of-type(1) > img {
  width: 12px;
}

.login__modal .login__google {
  height: 50px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 2px solid rgb(118, 118, 118);
  background: rgb(255, 255, 255);
}

.login__modal .login__google > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login__modal .login__google > a > div:nth-of-type(1) {
  margin-right: 10px;
}

.login__modal .login__google > a > div:nth-of-type(2) {
  font-weight: 800;
  color: #484848;
  font-size: var(--font-regular);
}

.login__modal > div:nth-of-type(4) {
  margin: 12px;
}

.login__modal > div:nth-of-type(4) > span {
  padding: 16px;
}

.login__modal > div:nth-of-type(4) > span::before {
  border-bottom: 1px solid #484848;
  content: "";
}

.login__modal > div:nth-of-type(4) > span::after {
  content: '';
  border-bottom: 1px solid #484848;
}

.login__modal > div:nth-of-type(4) > span > span {
  font-size: var(--font-small);
  color: rgb(118, 118, 118);
}

.login__modal__content .login__content__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login__modal__content .login__content__info > div {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.login__modal__content .login__content__info > div > input {
  width: 100%;
  padding: 11px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  outline-color: #008489;
}

.login__content__info .look__password {
  color: #008489;
  text-align: right;
  cursor: pointer;
}

.login__content__info .forget__password {
  color: #008489;
  text-align: left;
}

.login__content__info .forget__password > span {
  color: black;
  margin: 0 7px;
  font-size: var(--font-regular);
}

.login__modal__content .login__content__info button {
  width: 100%;
  color: #ffffff;
  font-size: var(--font-regular);
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  background: rgb(255, 90, 95);
  border-color: transparent;
}

.login__modal .login__modal__footer {
  text-align: left;
  font-size: var(--font-regular);
  color: #484848;
  padding: 16px 16px 0 0;
  border-top: 1px solid #eeeeee;
}

.login__modal .login__modal__footer > span#register {
  margin-left: 8px;
  color: #008489;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.header__login > .modal > .modal__content {
  animation: fadeIn 0.5s ease-in-out;
}