.index__content {
  padding: 20px 80px 20px 80px;
}

.index__content__top {
  height: 415px;
}

.index__content__top {
  height: 415px;
}

.index__content__top .top__image > img {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 16px;
}

.index__content__top {
  position: relative;
}

.index__content__top .top__image > span:nth-of-type(1) {
  position: absolute;
  left: 80px;
  top: 70px;
  color: rgb(34, 34, 34);
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

.index__content__top .top__image > span:nth-of-type(2),
.index__content__top .top__image > span:nth-of-type(3) {
  position: absolute;
  left: 80px;
  top: 115px;
  color: rgb(34, 34, 34);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.index__content__top .top__image > span:nth-of-type(3) {
  top: 140px;
}

.index__content__top .top__image > span:nth-of-type(4) {
  position: absolute;
  left: 80px;
  top: 180px;
  color: rgb(34, 34, 34);
  font-size: 18px;
  line-height: 24px;
}

.index__content__top .top__image > span:nth-of-type(4):after {
  content: ' \003E';
  position: absolute;
  transform: translateY(-2px);
  font-size: 21px;
  margin-left: 10px;
  font-weight: bold;
}

.index__card__wrap {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
  justify-content: space-between;
}

.online__activity {
  width: 100%;
  height: 896px;
  background-color: rgb(0, 0, 0);
}

.online__activity .content__wrap {
  display: flex;
  flex-direction: column;
  padding: 80px;
  width: 100%;
  height: 100%;
}

.online__activity .content__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.online__activity .content__header .title {
  display: flex;
  flex-direction: column;
  color: white;
}

.online__activity .content__header .title > span:nth-of-type(1) {
  font-size: 32px;
  font-weight: bold;
}

.online__activity .content__header .title > span:nth-of-type(2),
.online__activity .content__header .title > span:nth-of-type(3) {
  font-size: 16px;
}

.online__activity .content__header > a {
  font-size: 14px;
  color: white;
  border: 1px solid white;
  width: 107px;
  height: 35px;
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
}

.online__activity .content__main {
  display: flex;
  height: 100%;
}

.online__activity .content__main .main__left {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  color: white;
  height: 100%;
  margin-right: 15px;
}

.online__activity .content__main .main__left > img {
  height: 564px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.online__activity .content__main .main__left > span,
.main__right .right__top > div:nth-of-type(1) > span,
.main__right .right__top > div:nth-of-type(2) > span,
.main__right .right__bottom > div > span {
  height: 76px;
  background-color: rgb(34, 34, 34);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 16px;
  font-size: 15px;
}

.online__activity .content__main .main__right {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  color: white;
  height: 100%;
}

.main__right .right__top {
  display: flex;
  flex: 1 1 0;
  margin-bottom: 15px;
}

.main__right .right__top > div:nth-of-type(1),
.main__right .right__top > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__right .right__top > div:nth-of-type(1) {
  margin-right: 15px;
}

.main__right .right__top > div:nth-of-type(1) > img,
.main__right .right__top > div:nth-of-type(2) > img {
  height: 244px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.main__right .right__bottom {
  flex: 1 1 0;
}

.main__right .right__bottom > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main__right .right__bottom > div > img {
  height: 229px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}