@import "./layout/header.css";
@import "./layout/footer.css";
@import "./util/modal.css";
@import "./layout/register_modal.css";
@import "./layout/login_modal.css";
@import "./layout/searchbar.css";
@import "./component/room_card.css";
@import "./component/index_card.css";
@import "./component/reservation_modal.css";
@import "./rooms.css";
@import "./index.css";
@import "./component/datepicker.css";

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  box-sizing: border-box;
}