@import "./login.css";
@import "./header.css";

body {
  padding: 80px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
