footer.footer
  .footer__wrap
    .footer__top
      section.footer__top__introduce
        h4.title 소개
        ul
          li 에이비앤비 이용 방법
          li 뉴스룸
          li 에어비앤비 플러스
          li 에어비앤비 Luxe
          li 호텔투나잇
          li 에어비앤비 비즈니스 프로그램
          li 올림픽
          li 채용정보
      section.footer__top__community
        h4.title 커뮤니티
        ul
          li 다양성 및 소속감
          li 접근성
          li 에어비앤비 어소시에이트
          li 구호 인력을 위한 숙소
          li 친구 초대하기
      section.footer__top__hosting
        h4.title 호스팅하기
        ul
          li 숙소 호스팅 
          li 온라인 체험 호스팅하기
          li 브라이언 체스키 CEO의 메시지
          li 책임감 있는 호스팅
          li Open Homes
          li 자료 센터
          li 커뮤니티 센터
      section.footer__top__support
        h4.title 에어비앤비 지원
        ul
          li 코로나19 관련 업데이트
          li 도움말 센터
          li 예약 취소 옵션
          li 에어비앤비 이웃 민원 지원
          li 신뢰와 안전
    .footer__bottom
      section.footer__bottom__left
        span © 2020 Airbnb, Inc. All rights reserved
        span.item ·
        span 개인정보 처리방침
        span.item ·
        span 이용약관
        span.item ·
        span 사이트맵
        span.item ·
        span 한국의 변경된 환불 정책
      section.footer__bottom__right
        .bottom__right__option
          span.option__language
            img(src="/images/earth.png")
            span 한국어 (KR)
          span.option__money
            span ₩
            span KRW
        .bottom__right__icon
          span
            img(src="/images/facebook.png")
          span
            img(src="/images/insta.png")
          span
            img(src="/images/twitter.png")
          span
            img(src="/images/naver_blog.png")
