.header
  .header__left
    a.left__anchor(href="/")
      img.left__logo(src="/images/Airbnb_Logo.svg", alt="Airbnb logo image")
  .header__middle
    a(href="#")
      span 숙소
    a(href="#")
      span 체험
    a(href="#")
      span 온라인 체험
  .header__right
    .header__right__wrap
      .wrap__left
        span 호스트 되기
      .wrap__middle
        img(src="/images/earth.png", alt="earth image")
      .wrap__right
        div
          button.header__right__button.dropdown.closed
            .header__button__left
              img(src="/images/hambuger_menu.svg")
            .header__button__right
              img(src="/images/guest.png")
          .header__right__dropdown__menu.menu
            ul
              if login
                a(href="/logout")
                  li 로그아웃
              else
                li.modal__open.header__register 회원 가입
                  .modal.hidden
                    .modal__overlay
                    .modal__content
                        include register_modal.pug
                li.modal__open.header__login 로그인
                  .modal.hidden
                    .modal__overlay
                    .modal__content
                        include login_modal.pug
              li#header__right__host 숙소 호스트 되기
                a(href="#")
              li 체험 호스팅 하기
                a(href="#")
              li 도움말
                a(href="#")