doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include header.pug
    block content
    include footer.pug
  script(src='/javascripts/util/modal.js')
  script(src='/javascripts/util/dropdown.js')
  script(src='/javascripts/layout/header.js')