.searchbar
  .grid__left
  .grid__middle
    form(action="")
      .location
        label.location__wrap(for="location")
          span 위치
          input(type="text", id="location", name="location", placeholder="어디로 여행가세요?")
      .checkin
        label.checkin__wrap(for="checkin")
          span 체크인
          input(type="text", id="checkin", name="checkin", placeholder="날짜 추가")
      .checkout
        label.checkout__wrap(for="checkout")
          span 체크아웃
          input(type="text", id="checkout", name="checkout", placeholder="날짜 추가")
      .personnel
        .personnel__wrap
          label(for="personnel").personnel__wrap__left
            span 인원
            input(type="text", id="personnel", name="personnel", placeholder="게스트 추가")
          .search__icon
            button(type="submit")
              img(src="/images/search_white.png")
  .grid__right
  