extends ./layout/layout.pug
include ./component/index_card.pug

block content
  .index__content
    .index__content__top
      .top__image
        img(src="https://a0.muscache.com/im/pictures/16df1348-322f-4482-8694-3ccbdbf078b1.jpg?im_w=1440")
        span 이제, 여행은 가까운 곳에서.
        span 가까운 곳의 숨겨진 아름다움을 발견하는
        span 색다른 휴가를 즐겨보세요.
        span 가까운 여행지 둘러보기
    .index__card__wrap
      +card({
        image: 'https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=720',
        title: '온라인 체험',
        description: '세계 각지의 호스트가 진행하고 모두 함께 즐기는 독특한 액티비티'
      })
      +card({
        image: 'https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=720',
        title: '독특한 공간',
        description: '단순한 숙소 이상의 특별함이 담긴 공간'
      })
      +card({
        image: 'https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=720',
        title: '집 전체',
        description: '일행만을 위한 편안한 공간에서 친구 및 가족과 오붓한 시간을 보내세요.'
      })
  .online__activity
    .content__wrap
      .content__header
        .title
          span 브로드웨이 온라인 체험
          span 슬기로운 집콕 생활을 위한 색다른 방법 - 실시간으로 진행되는 인터랙티브
          span 브로드웨이 공연에 참여하고 출연진과 대화를 나눠보세요.
        a(href="#") 모두 둘러 보기
      .content__main
        .main__left
          img(src="https://a0.muscache.com/im/pictures/38aeacb5-7e77-4bf6-a813-754605020922.jpg?im_w=720")
          span 라스베이거스 댄서의 하루
        .main__right
          .right__top
            div
              img(src="https://a0.muscache.com/im/pictures/e77da774-9e72-46d6-a7fd-7d159f823046.jpg?im_w=720")
              span 아이샤 잭슨과 함께하는 사랑, 빛, 치유의 저녁
            div
              img(src="https://a0.muscache.com/im/pictures/7f607dbc-c51c-482e-8b67-55ded3e7f864.jpg?im_w=720")
              span 마술과 독심술을 즐기는 밤
          .right__bottom
            div
              img(src="https://a0.muscache.com/im/pictures/d88db0e7-ef5b-49c6-ae07-af3525ac252f.jpg?im_w=720")
              span 라이브 뮤지컬 참여하기
