extends ./layout/layout.pug
include component/card.pug

block content
  each room in data
    +rooms({
      title:room.title,
      description1:room.description1,
      description2:room.description2,
      image:room.image,
      price:room.price
    })