.datepicker__wrap.hide
  .datepicker__overlay
  .datepicker
    .title__wrap
      .title
      button.previous__button <
      button.next__button >
    .days__wrap
      ul.days
    .dayOfWeek__wrap
      ul.dayOfWeek