.guest__wrap.hide
  .guest__overlay
  .guest
    .adult
      .adult__left
        span 성인
        span 만 13세 이상
      .adult__right
        button.minus__button.not__allow__click -
        span.count(data-count='0') 0
        button.plus__button.allow__click +
    .child
      .child__left
        span 어린이
        span 2~12세
      .child__right
        button.minus__button.not__allow__click -
        span.count(data-count='0') 0
        button.plus__button.allow__click +
    .infant
      .infant__left
        span 유아
        span 2세 미만
      .infant__right
        button.minus__button.not__allow__click -
        span.count(data-count='0') 0
        button.plus__button.allow__click +
    