.header
  .header__left
    a.left__anchor(href="/")
      img.left__logo(src="/images/Airbnb_Logo.svg", alt="Airbnb logo image")
  .header__middle
    a(href="#")
      span 숙소
    a(href="#")
      span 체험
    a(href="#")
      span 온라인 체험
  .header__right
    .right__wrap
      .wrap__left
        span 호스트 되기
      .wrap__middle
        img(src="/images/earth.png", alt="earth image")
      .wrap__right